{% load staticfiles %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.theme.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.4.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'gestao/style.css' %}" />
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
<title>GCA - CC</title>

    {% block main %}
        <div class="cabecalho">
		<nav class="navbar">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand logo a-list-group-active" href="/"><i class="fa fa-graduation-cap"></i> CACC</a>
				</div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav cabecalho-links">
                        <li><a href="/geral/documentos">Documentos </a></li>
                        <li><a href="/geral/classificados">Classificados </a></li>
                        <li><a href="/geral/vitrine">Vitrine Virtual </a></li>
                        <li><a href="/geral/dicas">Dicas</a></li>
                    </ul>
                <ul class="nav navbar-nav navbar-right cabecalho-links">
                    <li>
                        <li><a href="/gestao">Login</a></li>
                    </li>
                 </ul>
			    </div><!-- /.container-fluid -->
            </div>
		</nav>
	</div>
        <div class="container-fluid full-width">
            <div class="row destaque-logo">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4 center">
                    <img class="img-responsive" src={% static 'gestao/images/logo_ca.jpg' %}>
                </div>
                <div class="col-xs-4">
                </div>
            </div>
        </div>
        <div class="container ">
		<div class="cacc-info">
</div>
            <h1 class="title-outside"><span class="fa fa-2x fa-newspaper-o"></span></h1>

            {% if news %}
                <div class="row">
                {% for new in news %}

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="box">
                                    <img class="img-responsive" src={% static new.img.url %}>
                                <div class="info">
                                    <h4 class="text-center">{{ new.title }}</h4>
                                     <span class="right"> {{ new.post_date }}</span>
                                    <p>{% autoescape off %}{{ new.body }}{% endautoescape %}</p>
                                    <span class="myLabel">{{new.typeN}}</span>
                                </div>

                            </div>

                        </div>
			{% if forloop.counter|divisibleby:"2" and not forloop.last %}
			</div><div class="row">
			{% endif %}
                {% endfor %}
                </div>
            {% endif %}

        </div>
{% endblock %}

        <div class="rodape">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 center cacc-info">
		CACC - Centro Acadêmico de Ciência da Computação 
<br>
Unioeste - Foz do Iguaçu
                </div>
                <div class="col-sm-4 right">
                    {% load static from staticfiles %}
                    <img class="img-rodape" src="{% static "gestao/images/adpt-chamaleon.png" %}" />
                </div>
            </div>
        </div>
