@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.cabecalho{
    background-color: #7F94A5;
    width:100%;

}
.cabecalho .logo{
    color: #f5f5f5;
    font-size: 16px;
}
.cacc-info{
	text-align: center;
	margin-top:20px;
	padding-bottom:20px;
	borde-bottomr:2px solid black;
}
.table tr:hover{
    color:#f5f5f5!important;
    background-color: #2288AC!important;

}
.table tr:hover a{
    color:#f5f5f5!important;
}
.cabecalho-links a{
    color: #f5f5f5!important;
    font-size: 14px;
}
.cabecalho-links a:hover{
    color: #3c3c3c!important;
    background-color: transparent!important;
}
.cabecalho-links a:not(:hover){
    background-color: transparent!important;
}
.a-list-group:hover{
    background-color: #2288AC!important;
    border-color: #2288AC;
    color: #f5f5f5!important;
}
.a-list-group-active{
    background-color: #2288AC;
}
.myLabel{
    color: #f5f5f5!important;
    background-color: #2288AC;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid #2288AC!important;
}
.myLabel-scenario{
	margin:2px;
	float: left;
}
.myLabel:hover{
    background-color: white;
    color: #3c3c3c!important;
    border: 1px solid #3c3c3c!important;
}
.cabecalho .logo:hover{
    color: #3c3c3c;
}

.cabecalho .dropdown .dropdown-toggle{
    color: #f5f5f5;
}
.cabecalho .dropdown .dropdown-toggle:hover{
    background-color: transparent!important;
}
.cabecalho .dropdown .dropdown-toggle:not(:hover){
    background-color: transparent!important;
}
.title-outside{
    text-align: center;
}
.title-outside span{

    margin:auto;
    color: #2288AC;
}
.container-fluid{
}
.full-width{
    width: 100%;
    background-color: black;
    width: 100%;
    margin-top: -20px;
}
.destaque-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.paginacao{
    text-align: center;
}
.rodape{
    position: relative;
	clear: both;
    bottom: 0px;
    background-color: none;
    width:100%;
    padding:10px;
}
.img-rodape{
    height: 60px;
    width: auto;
    margin-top: 20px;
}
.rodape .center{
    text-align: center;
}
.rodape .right{
    text-align: right;
}

.event-img {
    padding: 2px;
    text-align: center;
    border: 2px solid white;
    margin-bottom:20px;
}
.event-img img{
    margin-bottom: 2px;
}

.event-img:hover {
  border: 2px solid #2288AC;
}

/* **** NOTICIA */

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: right;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.box img{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /*padding: 3px;*/
}
.box .img-class{
    max-height: 200px;
    width: auto;
    margin: auto;
    padding-top: 10px;
}
.img-aluno{
    border-radius: 3px;
    border: 2px solid white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.box span{
    font-size: 12px;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;

}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info{
    margin: 10px 25px ;
    padding-top: 10px;
}

.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2288AC;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
body{
    padding-bottom: 10px;
}

/* END NOTICIA */
